# ides
.vscode/
.idea/

# python
venv/
.pytest_cache/
__pycache__/
*.pyc
*.pyo

# terraform
.terraform
*.pem
*.tfvars
*.tfplan
*.tfstate
*.tfstate.backup
*.tfdestroy
*.lock.hcl
*.lock.info
.terraform
.DS_Store

!eks-deploy/*.tfvars

