<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>System Monitor</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="/static/index.css">
</head>

<body>
  <div class="container">
    <h1>System Monitor</h1>
    <div id="cpu-gauge"></div>
    <div id="mem-gauge"></div>
    {% if message %}
    <div class="alert alert-danger">{{message}}</div>
    {% endif %}
  </div>

  <script>
    let cpuGauge = {
      type: "indicator",
      mode: "gauge+number",
      value: {{ cpu_metric }},
      gauge: {
        axis: { range: [null, 100] },
        bar: { color: "#1f77b4" },
        bgcolor: "white",
        borderwidth: 2,
        bordercolor: "#ccc",
        steps: [
            { range: [0, 50], color: "#d9f0a3" },
            { range: [50, 85], color: "#ffeb84" },
            { range: [85, 100], color: "#ff5f5f" }
        ],
        threshold: {
            line: { color: "red", width: 4 },
            thickness: 0.75,
            value: {{ cpu_metric }}
        }
    }
  };  

let memGauge = {
  type: "indicator",
  mode: "gauge+number",
  value: {{ mem_metric }},
  gauge: {
    axis: { range: [null,100]},
    bar: { color: "#1f77b4" },
    bgcolor: "white",
    borderwidth: 2,
    bordercolor: "#ccc",
    steps: [
      {range: [ 0, 50], color: "#d9f0a3"},
      {range: [50, 85], color: "#ffeb84"},
      {range: [85, 100], color: "#ff5f5f"}
    ],
    threshold: {
      line: {color: "red", width: 4},
      thickness: 0.75,
      value: {{ mem_metric }}
    }
  }
};

  let cpuGaugeLayout = { title: "CPU Utilization" };
   let memGaugeLayout = { title: "Memory Utilization" };

    Plotly.newPlot('cpu-gauge', [cpuGauge], cpuGaugeLayout);
    Plotly.newPlot('mem-gauge', [memGauge], memGaugeLayout);
  </script>
</body>
</html>